<div class="card mat-card" id="proyecto">
    <h1>Proyectos</h1>
    <ul class="item-list">
        <li>
        <div id="proyect1" class="proyect " >
            <span> <h3>Creación de Portfolio</h3></span>
             <img src="https://www.rananegra.es/uploads/images/main-programacion-web.png" style="height:90px;width: 90px;float:right; margin-right: 10rem;">
        
             <p>Se crea como proyecto de Argentina Programa 2022 este porfolio, 
            en el cual se aplican conocimientos en Frontend, Backend y base de datos. 
            Para este proyecto se utilizar Angular, Java Spring Boot y MySQL.
            </p>
        </div>

        <div id= proyect2 class="proyect">
            <span><h3>Render y Diseño 3D </h3> </span>
            <img class="rounded float-right" src="./assets/untitled.32.jpg" style="height:180px;width: 120px;float:right; margin-right: 10rem;">
            <p> Inciandome en el mundo del diseño 3D y el render mediante un curso en la escuela Da Vinci.
                 Mediante el uso de programas como 3Ds max y Vray se esta planeando el proyecto final. </p>
            
        </div>
        </li>
    </ul>
</div>
