<div> 
    <div class="card mat-card " id="first-card"> 
        <div id="perfil-fondo"> <img [src]="miPortfolio.backimage"> </div>
        <div id="info">
            <div id="info-img">
                <img class="profile-image" [src]="miPortfolio.image" >
                <div class="btn-edit" id="btn-pic"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
            </div>
        <div id="info-data">
            <h1> {{miPortfolio.name}}</h1>
            <div id="info-company">{{miPortfolio.position}} </div>
            <div id="info-contact">
                <span>{{miPortfolio.ubicacion}} </span>
                <span><a href="#">Información de contacto</a></span>
            </div>
        </div>
        <ul id="info-details">
            <li><a href="#">
                <img class="rounded float-right" [src]="miPortfolio.company.img" alt="logo de arg-programa" style="width:250px;height:90px ;"  >
                <h2> Argentina Programa</h2>
                </a></li>
        </ul>
        </div>
        <div id="info-actions">
            <button type="button" class="btn btn-primary">Estoy interesado en</button>
            <button type="button" class="btn btn-light">Más</button>
        </div>
    </div>