<div>  
    <div class="card mat-card " id="first-card"> 
        
        <div id="perfil-fondo"> <nav class="menu" id="navegador">
            <ul>
              <li><a href="https://www.linkedin.com/in/javier-ariel-riquelme-416b511b7/"><i class="fa-brands fa-linkedin"></i></a></li>
              <li><a href="https://www.facebook.com/javi1094"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/javier.riquelme0/"> <i class="fa-brands fa-instagram"></i></a></li>
            </ul>
          </nav>
          <img [src]="miPortfolio.backimage"> </div>
       
        <div id="info">
            <div id="info-img">
                <img id="perfil" class="profile-image" [src]="miPortfolio.image" >
                <div id="attachment"><a href = "#"><i class="fa fa-pen" onclick="abrir()"></i></a></div>
                <input id="input-file" type="file" accept="image/*" onchange="preview_image(event)" style="display:none"/>
            </div>
            
        <div id="info-data">
            <h1> {{miPortfolio.name}}</h1>
            <div id="info-company">{{miPortfolio.position}} </div>
            <div id="info-contact">
                <span>{{miPortfolio.ubicacion}} </span>
                <span><a href="#">Información de contacto</a></span>
            </div>
        </div>
        <ul id="info-details">
            <li><a href="#">
                <img class="rounded float-right" [src]="miPortfolio.company.img" alt="logo de arg-programa" style="width:250px;height:90px ;"  >
                <h2> Argentina Programa</h2>
                </a></li>
        </ul>
        </div>
        <div id="info-actions">
            <button type="button" class="btn btn-primary">Estoy interesado en</button>
            <button type="button" class="btn btn-light">Más</button>
        </div>
        

    
    </div>
   